body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 0;
    height: 100vh;
    background-color: #f4f4f4;
}

.formContainer {
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

form {
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input
textarea,
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}